<h2>Card Data for <%= card_id %></h2>

<% if leads.kind_of?(Array) && @records.length > 0 %>

  <div class="alert alert-success" role="alert">
    <strong>Found <%= leads.length %> card record<% if leads.length > 1 %>s<% end %>!</strong>
  </div>

  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Screen Name</th>
        <th>Twitter User Id</th>
        <th>Card</th>
        <th>Token</th>
      </tr>
    </thead>
    <tbody>
      <% leads.each do |lead| %>
      <tr>
        <td><%= lead.name %></td>
        <td><%= lead.email %></td>
        <td><%= lead.screen_name %></td>
        <td><%= lead.tw_userId %></td>
        <td><%= lead.card %></td>
        <td><%= lead.token %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

<% else %>

  <div class="alert alert-danger" role="alert">
    <strong>No card records found</strong>. Note that card data is not retained for longer than 5 minutes and can be lost upon service restarts.
  </div>

<% end %>
