<h4>Leads for Card ID:<%= card_id %></h4>

<% if leads %>

  <div class="alert alert-success" role="alert">
    <strong>Found <%= leads.length %> lead record<% if leads.length > 1 %>s<% end %>!</strong>
  </div>

  <% if !status_message.nil? %>
    <div class="alert alert-info"><%= status_message %></div>
  <% end %>

  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Screen Name</th>
        <th>Twitter User Id</th>
        <th>Card ID</th>
        <th>Token</th>
        <th>Delete?</th>
      </tr>
    </thead>
    <tbody>
      <% leads.each do |lead| %>
      <tr>
        <td><%= lead.name %></td>
        <td><%= lead.email %></td>
        <td><%= lead.screen_name %></td>
        <td><%= lead.tw_userId %></td>
        <td><%= lead.card.card %></td>
        <td><%= lead.token %></td>
        <td>
          <form action="/lead/<%= lead.id %>" method="post">
            <input name="_method" type="hidden" value="delete">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

<% else %>

  <div class="alert alert-danger" role="alert">
    <strong>No card records found</strong>.
  </div>

<% end %>
